/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
}

.section{
    margin-bottom: 100px;
}
/* common class */
.pennsylvania-primary-color{
    background-color: #02A0BC;
    color: #02A0BC;
}
/* .pennsylvania-secondary-color{
    background-color: #FD2200;
    color: #FD2200;
} */

/* Package section CSS */
.tick-icon{
    background-color: #EDEBF8;
    border-radius: 50%;
    padding: 5px;
    color: #02A0BC;
}
.package-item{
    border-radius: 30px;
}
.hot-icon{
   position: absolute;
   top:5px;
   left: 85%;
}

/* Sercices Section style */
.card-item{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.card-item img{
    transition: 1s linear;
}
.card-img{
    overflow: hidden;
}
.card-item:hover img{
    transform: scale(1.1);
}
.services-card-title a{
    color: #02A0BC;
    text-decoration: none;
    transition: transform 1s linear;
}
.services-card-title{
    transition: transform 1s linear;
}
.services-card-title:hover{
    transform: scale(1.1);
}

/* @media only screen and (max-width: 576px) {
    .banner-heading{
        font-size: 14px;
    }
    .banner-text{
        display: none;
    }
  } */
