/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
}

.section{
    margin-bottom: 100px;
}
/* common class */
.pennsylvania-primary-bg-color{
    background-color: #02A0BC;

}
.pennsylvania-primary-color{
    color: #02A0BC;
}
/* .pennsylvania-secondary-color{
    background-color: #FD2200;
    color: #FD2200;
} */

/* Package section CSS */
.tick-icon{
    background-color: #EDEBF8;
    border-radius: 50%;
    padding: 5px;
    color: #02A0BC;
}
.package-item{
    border-radius: 30px;
}
.hot-icon{
   position: absolute;
   top:5px;
   left: 85%;
}
.highlight-package{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/* Sercices Section style */
.card-item{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.card-item img{
    transition: 1s linear;
}
.card-img{
    overflow: hidden;
}
.card-item:hover img{
    transform: scale(1.1);
}
.services-card-title a{
    color: #02A0BC;
    text-decoration: none;
    transition: transform 1s linear;
}
.services-card-title{
    transition: transform 1s linear;
}
.services-card-title:hover{
    transform: scale(1.1);
}
/* conatct section */
image-part img{
    border-radius: 50%;
}
/* @media only screen and (max-width: 576px) {
    .banner-heading{
        font-size: 14px;
    }
    .banner-text{
        display: none;
    }
  } */

  .offer-popup{
      color: #02A0BC;
      border-left: 6px solid #02A0BC;
      position: absolute;
      top:50;
      right: 0;
  }